<div class="container about">


  <div class="hero">

    <h1> I don't take snapshots, I take photographs.</h1>

  </div>

  <div class="about-me">

    <div class="portrait">
      <img src="css/img/portrait.gif"/>
    </div>

    <div class="about-text">
      <p>Hi, I'm Aimen and I shoot people.</p>
      <p>Grew up in Monastir, Tunisia. Moved to London few years ago where I took
        up photography and graduated university.</p>
      <p>The reason I photograph is because I'm fond of <i>moments</i>. Photography
      gives me the ability to freeze them. Being an <strong>event photographer</strong>,
      these special moments are everywhere. </p>
    </div>

    <div class="contact-det">
        <h6><a href="mailto:aimensphotography@gmail.com" >Email</a></h6>
        <h6><a href="https://uk.linkedin.com/in/aimen-ben-aissa-45b007ab">LinkedIn</a></h6>
        <h6><a href="https://www.instagram.com/benfiika/">Instagram</a></h6>
    </div>



  </div>



</div>
