<div class="container about">


  <div class="hero">

    <h1> I don't take snapshots, I take photographs.</h1>

  </div>

  <div class="about-me">

    <div class="portrait">
      <img src="css/img/portrait.gif"/>
    </div>

    <div class="about-text">
      <p>Hi, I'm Aimen and I shoot people. </p>

      <p>I graduated univeristy with a bachelor degree in Computer Science in the summer of 2017. I've got a huge passion for photography that grew and blossomed
      when I become the main photographer for my university shooting all kind of events they were holding</p>

      <p>I've put my geeky knowledge into building this website to promote my work and branch out from outside of my university.</p>

      <p>The reason I photograph is because I'm fond of moments.</p>
      <p>Photography gives me the ability to freeze them. Being an event photographer, these special moments are everywhere.</p>

      <p>When I'm not photographing, you can find me in a coffee shop somewhere in London designing and coding websites like this one. </p>

    </div>

    <div class="contact-det">
        <h6><a href="mailto:aimensphotography@gmail.com" >Email</a></h6>
        <h6><a href="https://uk.linkedin.com/in/aimen-ben-aissa-45b007ab">LinkedIn</a></h6>
        <h6><a href="https://www.instagram.com/benfiika/">Instagram</a></h6>
    </div>



  </div>



</div>
