
<div class="contact-container container">


  <!-- <form class="contact-form" action="mailto:aimenbenfika@gmail.com"
      method="POST" encType="multipart/form-data">
      <label> Your name </label>
      <input type="text" name="name">
      <label> Your email </label>
      <input type="email" name="_replyto" >
      <label> Your message </label>
      <textarea name="message" rows="7"></textarea>

      <input type="hidden" name="_after" value="../success.html">

      <button type="submit" value="Send">Send</button>
  </form> -->

  <form  class="contact-form" method="post" action="//flipmail.co/api/m0UfZf7anHROCcOU96MM">

    <label> Your name </label>
    <input type="text" name="name" required autocomplete="off">

    <label> Your e-mail </label>
    <input type="email" name="email" required autocomplete="off">

    <label> Your message </label>
    <textarea name="message" rows="7" required></textarea>
    <button type="submit">Submit</button> </form>

</div>
