<section class="header">
  <div class="nav_bar">

    <a href="."><img src="css/img/logo-for-web.png" /></a>

    <div class="menu">
      <img src="css/img/hamburger_menu_open.png" />
      <img src="css/img/menu_close.png" />
    </div>

  </div>


  <div class="menu_container menu_active">

    <ul>
      <li><a href="."> Portfolio </a></li>
      <li><a href="about.html"> About me</a> </li>
      <li><a href="experience.html"> My experience</a> </li>
    </ul>

  </div>

  <div class="experience_container">
    <div class="exp_intro">
      My previous experiences.
    </div>

    <div class="exp_list">

      Coming soon.
    </div>
  </div>
</section>
