<section class="header">
  <div class="nav_bar">
    <img src="css/img/logo-for-web.png" />
    <div>
      <a href="." > portfolio </a>
      <a href="about.html"> about</a>
    </div>
  </div>

  <div class="intro">
    aimen ben aissa, photographer.
  </div>
</section>

<section class="photos">
  <div class="cato_container">
    <div class="catos">
      <a class="cato_link">events</a>
      <a class="cato_link">street</a>
    </div>
    <div class="thumbs">
      <img src="css/img/thumbs.png"/>
      <img src="css/img/full_size.png" />
    </div>

  </div>

  <div class="photos_belt">
    <div class="photos_containers">
      <div class="photo_holder">events</div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
    </div>

    <div class="photos_containers">
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
      <div class="photo_holder"></div>
    </div>

</section>

<section class="footer">
  <div class="footer_container">
    <p> let's talk</p>
    <p> aimensphotography@gmail.com</p>
    <a href="https://www.instagram.com/benfiika/"
    target="_blank" ><img src="css/img/insta_icon.png" /></a>
  </div>

</section>
