.header
  .about
    div
      a
        color: #bfbfbf
      a:nth-child(2)
        color: #110f0f
  .about_container
    padding: 0 120px 80px 120px
    display: flex
    display: -webkit-flex
    display: -ms-flexbox
    flex-direction: column
    -ms-flex-direction: column
    -webkit-flex-direction: column
    .about_intro
      align-self: flex-start
      -ms-align-self: flex-start
      -webkit-align-self: flex-start
      width: 100%
      box-sizing: border-box
      text-align: left
    .contact_details
      font-size: 26px
      font-family: Proxima_reg
      width: 100%
      padding-top: 80px
      .contact
        display: flex
        display: -ms-flexbox
        display: -webkit-flex
        img
          margin-right: 40px
          width: 30px
          height: 30px
        p
          margin-top: 0
          a
            text-decoration: none
            color: #110f0f
    .info
      display: flex
      display: -ms-flexbox
      display: -webkit-flexbox
      width: 100%
      padding-top: 50px
      box-sizing: border-box
      font-size: 22px
      font-family: Proxima_reg
      line-height: 32px
      .description
        width: 50%
      .portrait
        text-align: center
        width: 50%
        img
          width: 70%
          height: auto



//media queries

//iphone 4 + 4s 320px - 480px
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  .header
    .about_container
      padding: 10
      .about_intro
        text-align: left
        font-size: 30px
      .contact_details
        font-size: 20px
        .contact
          font-size: 18px
          img
            margin-right: 10px
      .info
        flex-direction: column
        -ms-flex-direction: column
        -webkit-flex-direction: column
        .description
          width: 100%
          font-size: 18px
        .portrait
          width: 100%

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .header
    .about_container
      padding: 0
      .about_intro
        text-align: center
      .contact_details
        font-size: 20px
      .info
        flex-direction: column
        -ms-flex-direction: column
        -webkit-flex-direction: column
        .description
          width: 100%
          font-size: 18px
        .portrait
          width: 100%
