@font-face
  font-family: Proxima_reg
  src : url(Proxima_Nova_Alt_Regular_webfont.ttf)


@font-face
  font-family: Proxima_reg_IE
  src: url(Proxima_Nova_Alt_Regular_webfont.eot)



@font-face
  font-family: Proxima_bold
  src: url(Proxima_Nova_Alt_Bold_webfont.ttf)
@font-face
  font-family: Proxima_bold_IE

  src: url(Proxima_Nova_Alt_Bold_webfont.eot)


@font-face
  font-family: Proxima_black
  src: url(Proxima_Nova_Alt_Black_webfont.ttf)
